body{
    font-family: arial;
    color: #2B2B2B;
   
    }
    
    #modal{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color:rgba(0,0,0,0.4);
    overflow: auto; 
    padding-top: 100px; 
     left: 0;
     top: 0;
    }
    
    #modal-body{
    background-color: white;
    width: 30%;
   padding: 20px;
   z-index: 5;
   margin: auto;
   border-radius: 20px;
    }
    
    #modal-header{
    display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #888;
    }
    
    p{
    margin: auto;
    color: black
    }
    
    h2{
    color: #888
    }
    
    button{
    height: 40px;
    width: auto;
    border: 1px red; 
    border-radius: 20px;
    background-color: #888;
    color: black;
    font-size: medium;
    margin: 15px;
    }

    input{
        display: flex;

        background-color: rgb(255, 255, 255);
        color: rgb(122, 122, 122);
        border: 0 solid red;
        border-radius: 20px;
        height: 20px;
        width: auto;
        padding: 15px;
        margin-top: 10px;
        }

.container{
    border: 5px  rgb(255, 255, 255); 
    border-radius: 10px;
    background-color: rgba(99, 99, 99, 0.555);
    margin: 10px; 
    padding: 15px; 
   
}

#excluir_produto{
    background-color: rgba(252, 18, 18, 0.377);
    color: rgb(0, 0, 0);
    border: 0 solid red;
    border-radius: 30px;
    height: auto;
    width: auto;
    padding: 15px;
    }

    #nao_excluir_produto{
        background-color: rgba(12, 139, 18, 0.377);
        color: rgb(0, 0, 0);
        border: 0 solid red;
        border-radius: 30px;
        height: auto;
        width: auto;
        padding: 15px;
        }


    #fechar-modal{
    
            background-color: rgba(177, 177, 177, 0.541);
            color: rgb(0, 0, 0);
            border: 0 solid red;
            border-radius: 30px;
            height: 30px;
            width:30px;
            font-size: larger;
          
        
    }

  
        