html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    font-family: arial;
    color: #2B2B2B;
    overflow-x: hidden;
    
   
    }
    
    #modal{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color:rgba(0,0,0,0.4);
    overflow: auto; 
    padding-top: 100px; 
     left: 0;
     top: 0;
    }
    
    #modal-body{
    background-color: white;
    width: 30%;
   padding: 20px;
   z-index: 5;
   margin: auto;
   border-radius: 20px;

    }
    
    #modal-header{
    display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #888;
    }
    
    p{
    margin: 5px;
    color: black;
    }
    
    h2{
    color: #888
    }
    
    button{
    height: 40px;
    width: auto;
    border:none; 
    border-radius: 20px;
    background-color: #888;
    color: black;
    font-size: medium;
    margin: 15px;
    }

    input{
     display: flex;
        background-color: rgb(255, 255, 255);
        color: rgb(170, 170, 170);
        border: 1px solid rgb(85, 85, 85);
        border-radius: 20px;
        height: 20px;
        width: auto;
        padding: 15px;
        margin-top: 10px;
        font-size: medium;
      
        }

.container.input{
    display: flex;
}

.container{

    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px; 
    padding: 15px; 
    height:93%;
    margin-left: 40px ;
   
}

#excluir_produto{
    background-color: rgba(252, 18, 18, 0.377);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    height: auto;
    width: auto;
    padding: 15px;
    }

    #nao_excluir_produto{
        background-color: rgba(12, 139, 18, 0.377);
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 30px;
        height: auto;
        width: auto;
        padding: 15px;
        }


    #fechar-modal{
    
            background-color: rgba(177, 177, 177, 0.541);
            color: rgb(0, 0, 0);
            border: none;
            border-radius: 30px;
            height: 30px;
            width:30px;
            font-size: larger;
          
        
    }


    ul li{
        display: inline;
        margin-top: 15px;
       
        }
        
        a {
        text-decoration: none;
        display: inline;
        color: #ffffff;
        font-size:larger;
        margin-top: 15px;
        margin-left: 40px ;
        font-size: larger;
        }
        
        nav{
        background-color: #535353;
        height: 65px;
         display:flex;
        }
         
        